.banner{
    background-image: url("../assets/hero-bg.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 70px 120px 134px;
    
}
#banner-content{
    gap:32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:104px 120px 168px 120px;
    
}
.early{
    padding:12px 8px;
    margin-bottom: 16px;
    background-color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:6px;
    color: #30B868;
    cursor: pointer;
}
.early:hover{
    background-color: rgb(196, 173, 173);
}
.dot{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #30B868;
    border: 4px solid #D6F1E0;
}
#banner-content h1{
    font-size:72px;
    font-weight: 700;
   color:#FFFFFF;
   margin-bottom: 16px;
   text-align: center;
}
#banner-content p{
    font-size: 18px;
    line-height: 24px;
    color:#FFFFFF;
    font-weight: 400;
    text-align: center;
    margin-bottom: 55px;
}
.btn-2{
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    color:#FFFFFF;
    padding:16px 12px;
    border: 1px solid #FFFFFF;
    cursor:pointer;
    border-radius: 5px;
    color: #FFFFFF;
    
}
.btn-2:hover{
    background: rgba(145, 125, 125, 0.801);
}
