.foot{
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}
.last-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.link-part{
    font-size: 20px;
    font-weight: 600;
    color:#FFFFFF;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
}
.icon {
    display: flex;
    gap:5px
}
 .icon a  {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.icon a img{
    height: 20px;
    width: 20px;
}
