.Notes{
    padding:0px 20px 20px 20px;
    background-color: #F7F6F2;
}
.heading{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-bottom: 44px;
}
.heading h1{
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    color:#001931;
    margin-bottom: 16px;
    padding: 60px 0px 0px 0px;
}
.heading p{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #627382
}
.card-holder{
     display: flex   ;
     justify-content: center;
     gap:24px;
}
.card{
    height: 322px;
    width:  300px;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F95555;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h2{
    font-size:24px;
    font-weight: 600;
    text-align: center;
    color:#001931;
    margin: 16px 24px;
}
.card p{
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color:#627382;
}