.Brain{
    padding: 120px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
}
.Solution h3{
    font-size: 16px;
    font-weight: 500;
    color:#30B868;
    margin-bottom: 16px;
}
.Solution h1{
    font-size: 40px;
    font-weight: 700;
    color:#001931;
    margin-bottom: 16px;
}
.Solution p{
    font-size:16px;
    line-height: 20px;
    color:#627382;
    margin-bottom: 40px;
}

.Token-holder{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.Token{
    display: flex;
    gap:6px;
    font-size: 16px;
    line-height: 20px;
    color:#001931;
}