.btn{
    font-size: 16px;
    font-weight: 600;
    background: #30B868;
    color:#FFFFFF;
    padding:16px 12px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
}
.btn:hover{
    background: rgba(145, 125, 125, 0.801);
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.Token{
    display: flex;
    gap:6px;
    font-size: 16px;
    line-height: 20px;
    color:blue;
}