.btn{
    font-size: 16px;
    font-weight: 600;
    background: #30B868;
    color:#FFFFFF;
    padding:16px 12px;
    border: none;
    border-radius: 5px;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}